<style>
    .my-3{
        background-color: antiquewhite;
    }
    h3{
        text-align:center;
        margin-top:2%;
        color:red;
    }
    .lists{
        display:flex;
        flex-wrap: wrap;
        margin-left:10%;
        
    }
</style>

<div class="container my-3">
    <h1 class= " text-center mb-3"></h1>

    <app-add-todo (todoAdd) = "addTodo($event)"></app-add-todo>
    <!-- <h4 style="color:black; background-color: white; margin-bottom: 3px;">Upcoming Events </h4> -->
    <div class="lists">
    <h3  *ngIf="this.todos.length===0; else elseBlock">No events available!</h3>
    <ng-template #elseBlock>
        <div  *ngFor="let todo of todos; index as i">
            <app-todo-items [todo]= "todo" [i] = "i" (todoDelete)= "deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-items>
        </div>
    </ng-template>
    </div>
</div>

