<style>
.texts{
    margin-top: -20px;
    text-align: center;
    color:brown;
}
.centres{
    text-align:center;
    margin-top:50px;
    color: rgb(32, 62, 63);

}
.btn{
    margin-left:20px;

}
.buttons{
    margin-top: 30px;
    text-align: center;
}
.about{
    background-color : rgb(241, 230, 216);
    padding:10%;

    
}
</style>

<div class="about">
    <div class="texts">
        <!-- <img src="src\assets\pic.png"/> -->
        <h2>Fergusson College, Pune</h2>
        <h3>MSc Computer Science</h3>
        <h4>Placements 2023 - 2024</h4>
    </div>
    <div class="centres">
        <h2> Anything you need!</h2>
    </div>
    <div class="buttons">
        <button type="button" routerLink="/upcoming" class="btn btn-secondary">+ Upcoming Events</button>
        <button type="button" routerLink="/companies"class="btn btn-secondary">+ Companies</button>
        <button type="button" routerLink="/students" class="btn btn-secondary">+ Students Placed</button>
    </div>
    <div class="buttons">
        <button type="button" routerLink="/study" class="btn btn-secondary">+ Study Materials</button>
        <button type="button" routerLink="/contact" class="btn btn-secondary">+ Contacts</button>
    </div>
</div>