<style>
  .new_div
  {
    background-color:black;
    font-family: none;
    color:white;
  }
  svg:hover{
    opacity: 2%;
  }
.nav-link {
  color:white;
}
.nav-link:hover{
  color:grey;
}

.navbar-brand{
  color:white;
}   
.navbar-brand:hover{
  color:burlywood;
}
.navbar{
  height:70px;

}
</style>
<router-outlet>
 <div class="new_div"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light, container">
    <svg width="50" height="70">
      <circle cx="0" cy="0" r="30" stroke="white" stroke-width="1" fill="white" />
   </svg>

    <a class="navbar-brand" routerLink="/about">GetPlaced!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/upcoming">Upcoming Events <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/company">Companies</a>
        </li>
        
        
      </ul>
    </div>
  </nav>
</div>
</router-outlet>
