
<style>

    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    h3{
        text-align: center;
    }
    
    .button1 {background-color: #011402;
        margin-top: 13px;
        margin-left:40%;
        color:white;
        text-align: center;
    } /* Green */
    .new_div{
        border:3px solid black;
        background:rgb(227, 153, 96);
        margin-right:25%;
        margin-left:30%; 
        margin-top: 5px;
        
    }
    .form-group{
        padding:4px;
    }
    
</style>
<h3>Upcoming Events !</h3>
<div class="new_div">
<div class=" container my-3">
    <h4>Add an event</h4>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder=" Event title">
            
        </div>
        <div class="form-group">
            <input type="text" class="form-control"name="time" id="time" placeholder="Date & Time" [(ngModel)]="time">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"name="venue" placeholder="Venue" id="venue"  [(ngModel)]="venue">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"name="desc" placeholder="Description" id="desc"  [(ngModel)]="desc">
        </div>
        
        <button  type="submit" class="btn btn-sm button1">Add Event</button>
    </form>
</div>
</div>
